<%= render UI::SectionComponent.new(py: "py-8 lg:py-20", tag: :section, id: "pricing", inner_class: "group") do %>
  <div class="text-center">
    <h2 class="mb-4 text-3xl font-bold"><%= @title %></h2>
    <p class="text-base-content/70 mb-8"><%= @subtitle %></p>
  </div>

  <!-- Monthly/Yearly Toggle -->
  <div class="mt-8 flex justify-center">
    <div role="tablist" class="tabs tabs-box relative w-fit">
      <input
        type="radio"
        name="pricing-tab"
        role="tab"
        value="monthly"
        class="tab px-8"
        aria-label="Monthly">
      <input
        type="radio"
        name="pricing-tab"
        role="tab"
        class="tab px-8"
        value="yearly"
        aria-label="Yearly"
        checked>
      <span class="badge badge-neutral absolute -end-10 -top-2">-40%</span>
    </div>
  </div>

  <%= content %>
<% end %>
